<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeSportive"
        tools:targetApi="31">
        <activity
            android:name=".activities.StartChallengeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddChallengeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FeedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MemberOverviewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.JoinCreateGroupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InviteMembersActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateGroupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ConfigureChallengesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChallengesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ActiveChallengeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>